@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
  font-family: 'Mooli', sans-serif; 
}

.box {
background-color: rgb(224, 224, 255);
}

header {
  display:flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color:#3072d5;
  margin-top: 23px;
  margin-left: 3px;
  text-decoration: underline;
}

#input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

#usertext-input {
  padding-left: 20px;
  width: 250px;
  height: 35px;
  border: none;
  border-radius: 8px 0 0 8px;
}

button {
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: 70px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

footer {
  display:flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

#usertext {
  color: red;
  padding-bottom: 20px;
}

.linecenter {
  display:Flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
hr {
  height: 0.5px;
  width: 60%;
  background-color: black;
}
